<section #messageConteiner class="messages-conteiner" >
  
    
    <div class="projects-header messages-conteiner__header">
        <p>Повідомлення </p>
    </div>
    <div class="messages">
        <div class="message-item__box">
            <img src="" alt="">
            <div class="message-item__content">
                <div class="message-item__header">
                    <p class="name">Микола Прохоренко (СЕО)</p>
                    <div class="star-checkbox">
                      <input type="checkbox" id="star-1">
                      <label for="star-1">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star">
                          <polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
                      </label>
                    </div>
                </div>
                <p class="message-item__text">Преминяемое по факту без учтенной логики, вдобавок она абсолютно не описано. По этому и возникли вопросы.</p>
                <p class="message-item__text time">Cічень, 19</p>
            </div>
        </div>
        <div class="message-item__box">
            <img src="" alt="">
            <div class="message-item__content">
                <div class="message-item__header">
                    <p class="name">Карина Ливотина (FA)</p>
                    <div class="star-checkbox">
                      <input type="checkbox" id="star-2">
                      <label for="star-2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star">
                          <polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
                      </label>
                    </div>
                </div>
                <p class="message-item__text">Жду ответ от Марьяны, будет еще и анализ с ее стороны</p>
                <p class="message-item__text time">Січень, 12</p>
            </div>
        </div>
        <div class="message-item__box">
            <img src="" alt="">
            <div class="message-item__content">
                <div class="message-item__header">
                    <p class="name">Карина Ливотина (FA)</p>
                    <div class="star-checkbox">
                      <input type="checkbox" id="star-2">
                      <label for="star-2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star">
                          <polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
                      </label>
                    </div>
                </div>
                <p class="message-item__text">Жду ответ от Марьяны, будет еще и анализ с ее стороны</p>
                <p class="message-item__text time">Січень, 12</p>
            </div>
        </div>
        <div class="message-item__box">
            <img src="" alt="">
            <div class="message-item__content">
                <div class="message-item__header">
                    <p class="name">Карина Ливотина (FA)</p>
                    <div class="star-checkbox">
                      <input type="checkbox" id="star-2">
                      <label for="star-2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star">
                          <polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
                      </label>
                    </div>
                </div>
                <p class="message-item__text">Жду ответ от Марьяны, будет еще и анализ с ее стороны</p>
                <p class="message-item__text time">Січень, 12</p>
            </div>
        </div>
        <div class="message-item__box">
            <img src="" alt="">
            <div class="message-item__content">
                <div class="message-item__header">
                    <p class="name">Карина Ливотина (FA)</p>
                    <div class="star-checkbox">
                      <input type="checkbox" id="star-2">
                      <label for="star-2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star">
                          <polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
                      </label>
                    </div>
                </div>
                <p class="message-item__text">Жду ответ от Марьяны, будет еще и анализ с ее стороны</p>
                <p class="message-item__text time">Січень, 12</p>
            </div>
        </div>
    </div>
</section>